# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime files
*.local

# Build output
dist
dist-ssr

# Dependency directories
node_modules/

# System files
.DS_Store

# IDE settings
.vscode/*
!.vscode/extensions.json
.idea/

# Windows/Linux/macOS editor junk
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.*
